*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

:root{
    --primary-color: #d1d1d1;
    --secondary-color : #1a0b2f ;
}

.darkMode{
    --primary-color: #1a0b2f;
    --secondary-color : #d1d1d1;
}

body{
    background-color: var(--primary-color);
    transition-timing-function: ease-in-out;
    transition-duration: 0.9s;
}


h1{
    float: left;
    text-transform: capitalize;
    font-weight: 300;
    color: #240e8b;
    margin: 14px 91px;
}

ul{
    display: flex;
    margin: 31px 8px 0 611px;
    list-style: none;
    float: left;
    letter-spacing: 1px;
}

li {
    padding: 0 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--secondary-color) ;
    cursor: grab;
}

li:hover{
    color: #3c4cad;;
}

.moon{
    float: left;
    margin: 35px 91px 0 8px;
}

#icon{
    cursor: pointer;
    font-size: larger;
    color: var(--secondary-color);
    /* float: right;
    margin: -57px 89px 0 80px;
    position: absolute; 
    top: 35px; 
    right: 50px;
    cursor: pointer; */
}


.info {
    padding: 232px 20px 0 91px;
    width: 62%;
    margin: 0;
}

h2 {
    font-size: 53px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--secondary-color);
}

h2 > span{
    color: #240e8b;
}

.parag{
    color: var(--secondary-color);
    padding: 15px 0;
    text-transform: capitalize;
    width: 70%;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;  
}

.button {
    padding: 56px 0;
}

.dcv{
    border: solid 1px inherit;
    border-radius: 45px;
    padding: 23px 49px;
    background: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
}

.dcv:hover{
    background-color: #3c4cad;
    box-shadow: 0 0 5px #3c4cad, 0 0 25px #3c4cad, 0 0 50px #3c4cad , 0 0 200px #3c4cad;
}

#leaf{
    float: right;
    position: absolute;
    top: 84px;
    right: 122px;
    z-index: 11;
    opacity: 0.7;
}

#leaf > i{
    color: #240e8b;
    font-size: 637px;
}

#second-leaf{
    float: right;
    position: absolute;
    top: 93px;
    right: 110px;
    z-index: 10;
}

#second-leaf > i{
    font-size: 634px;
    color: var(--secondary-color);
}

.sociallinks{
    font-size: xx-large;
    padding: 89px 10px 0px 52px;
}


.sociallinks > a{
    color: var(--secondary-color);
    padding: 20px;
    cursor: pointer;
}

.sociallinks > a:hover{
    color: #3c4cad;
    transform: scale(1.0);
}


